<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
        
            <div class="carousel slide" id="carousel-673966">
                <ol class="carousel-indicators">
                    <li data-slide-to="0" data-target="#carousel-673966">
                    </li>
                    
                    
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="" src="/images/logo.png" />
                        
                    </div>

                </div>
            </div>
            <br>
            <br>
            <p class="text-center"><font size="4" >
            <em>Wemake </em>es una <strong>Plataforma</strong> que pretende <strong>reconocer, validar y estimular</strong> iniciativas que construyan una ciudad más resiliente a través de la articulación de los diferentes actores sociales, tales como <strong>ciudadanos, colectivos e instituciones (Publicas, privadas y mixtas)</strong>.</font>

            </p></br>
            <p class="text-center">
            <a class="btn btn-primary btn-lg" href="#" role="button">Haz Parte Del Cambio</a>
            </p>
        </div>
    </div>
</div>