<div class="container">
	<div class="row clearfix">
		<div class="col-md-6 column">
			<img src="/images/crowd.png" class="img-circle"  />
		</div>
		<div class="col-md-6 column">
			<div class="media">
				<div class="media-body">
					
					<h4 class="media-heading">
					<font size="6"> Propuesta de Valor
					</font>
					</h4>
					<ul>
						<li><p class="lead">Canal de comunicación</p></li>
						<li><p class="lead"> Reconocimiento de actividades Resiliente</p></li>
						<li><p class="lead">Identificación del Riesgo</p></li>
						<li><p class="lead">Análisis y Gestión de la información disponible</p></li>
						<li><p class="lead">Validación y reconocimiento de actores resilientes en la ciudad del Riesgo</p></li>
						<li><p class="lead">Red de favores soportada en un sistema de estímulos.</p></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-6 column">
			<div class="media">
				<div class="media-body">
					
					<h4 class="media-heading">
					<font size="6"> Actores
					</font>
					</h4>
					<ul>
						<li><p class="lead">Ciudadanía</p></li>
						<li><p class="lead"> Colectivos</p></li>
						<li><p class="lead">Instituciones (Publicas, privadas, mixtas)</p></li>
					</ul>
					
				</div>
				
			</div>
		</div>
		<div class="col-md-6 column">
			<div class="media">
				<div class="media-body">
					
					<h4 class="media-heading">
					<font size="6"> Propositos
					</font>
					</h4>
					<p class="lead">
					<ul>
						<li><p class="lead">Mejorar la capacidad de prevención desastres</p></li>
						<li><p class="lead"> 	Identificar Zonas Vulnerables</p></li>
						<li><p class="lead">	Mitigar el riesgo especificas</p></li>
					</ul>
					
					
					
					
					</p>
				</div>
			</div>
		</div>
	</div>
</div>