<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<form action="/user/create/" method="POST" role="form">
				<div class="form-group">
					<label for="name">Nombre</label><input name="name" type="text" class="form-control" id="name" />
				</div>
				<div class="form-group">
					<label for="lastname">Apellido</label><input name="lastname" type="text" class="form-control" id="lastname" />
				</div>
				<div class="form-group">
					<label for="age">Edad</label><input name="age" type="number" class="form-control" id="age" />
				</div>
				<div class="form-group">
					<label for="email">Email</label><input name="email" type="email" class="form-control" id="email" />
				</div>
				<div class="form-group">
					<label for="city">Ciudad</label><input name="city" type="text" class="form-control" id="city" />
				</div>
				<div class="form-group">
					<label for="neighbor">Barrio</label><input name="neighbor" type="text" class="form-control" id="neighbor" />
				</div>
				<div class="form-group">
					<label for="phone">Telefono</label><input name="phone" type="number" class="form-control" id="phone" />
				</div>
				<input type="submit" class="btn btn-default"value="log in"/>
			</form>
		</div>
	</div>
</div>