<div class="container">
	<p class="lead">
	<p class="text-center"><font size="6" > <strong><%=user.name%></strong>
	ahora haces parte de nosotros en los proximos dias recibiras mas noticas acerca de <em>Wemake </em>. Recuerda que <strong>TU HACES EL CAMBIO</strong></font></p>
</div>